demo/target/test-classes/code/AppTest.class
demo/target/classes/code/App.class
demo/.editorconfig
.vscode/settings.json
demo/target/classes/code/classes/Car.class
demo/target/test-classes/code/CarTest.class
demo/target/classes/code/classes/Brain.class
demo/target/classes/code/classes/Perceptron.class
demo/target/classes/code/classes/TrainingData.class
*.log
*.class
